{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                        <option value="" selected>How many are going?</option> 
                    {% for i in list_of_products_return %}
                        <option value="{{ i['product_id'] }}">{{ i['product_name'] }}</option>
                    {% endfor %}
                    </select>
        <div class="row">
            <div class="col-md-6">
                <p class="header1">Description: <span id="product_description"></span></p>
            </div>
            <div class="col-md-6">
                <p class="header1">Total Price: $<span id="product_price"></span></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type = "submit" value = "Place Order">
            </div>
        </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}