{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <form action="/result" method="POST">
                <select class="form-select" name="product_id" id="product_id" method="GET" action="/" onchange="getDescription(); getPrice()">
                    <option value="" selected>How many are going?</option> 
                    {% for i in list_of_products_return %}
                    <option value="{{ i['product_id'] }}">{{ i['product_name'] }}</option>
                    {% endfor %}
                 </select>
                    <p class="header1">Description: <span id="description"></span></p> 
                    <p class="header1">Total Price: $<span id="price"></span></p>
                    <p><input type = "submit" value = "Place Order"></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}